body {
    background-color: grey;
    margin: 1%;
    overflow-x: hidden;
    background-image: url('../media/img/FondoPag.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#header {
    border: 1px solid blue;
    margin-bottom: 10px;
}

#ruletaDiv {
    min-height: 100px;
    margin-bottom: 10px;
    overflow: auto;
    overflow-x: hidden;
}

#ruletaImg  {
    margin-left: 0px;
    min-height: 140px;
    height: 220px;
    margin-top: 10px;
    border: 1px solid red;
}

.lista {
    position: relative;
    left: 0px;
    display: flex;
    list-style: none;
    padding: 0px;
}

#buttonChetarte {
    margin-top: 10px;
    margin-bottom: 10px;
}

#resultado {
    min-height: 320px;
}

.imagenes {
    min-width: 170px;
    min-height: 115px;
    max-width: 170px;
    max-height: 115px;
    border: 1px solid black;
}

#flechaImg { 
    width: 60px;
    text-align: center;
    height: 60px;
    margin-top: -40px;
}
