body {
    background-color: grey;
    margin: 1%;
}

#header {
    border: 1px solid blue;
    margin-bottom: 10px;
}

#ruletaDiv {
    min-height: 100px;
    margin-bottom: 10px;
}

#ruletaImg  {
    margin-left: 0px;
    min-height: 115px;
    margin-top: 10px;
    border: 1px solid red;
    transition: left 10s;
}

.lista {
    left: 0%;
    display: flex;
    list-style: none;
    padding: 0px;
    overflow: hidden;
}

#buttonChetarte {
    margin-top: 10px;
    margin-bottom: 10px;
}

#resultado {
    min-height: 700px;
}

.imagenes {
    min-width: 170px;
    min-height: 115px;
    max-width: 170px;
    max-height: 115px;
    border: 1px solid black;
}
